<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 2.4.0
  </div>
  <strong>Copyright &copy; 2014-2016 <a href="https://vizualtech.com">Vizualtech</a>.</strong> All rights
  reserved.
</footer>
