
  <div class="login-box">
    <div class="login-logo">
      <a routerLink="/"><b>Login</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form (ngSubmit)="onLogin(form)" #form="ngForm">
        <div class="form-group has-feedback" [ngClass]="{'has-error': email.invalid && email.touched}">
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            ngModel
            name="email"
            email
            required
            #email="ngModel"
          >
          <span *ngIf="email.invalid && email.touched" class="help-block">Please set a correct email</span>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback" [ngClass]="{'has-error': password.invalid && password.touched}">
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            ngModel
            name="password"
            required
            #password="ngModel"
          >
          <span *ngIf="password.invalid && password.touched" class="help-block">Please set a correct password</span>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox icheck">
              <label>
                <input
                  appICheck
                  type="checkbox"
                  [(ngModel)]="rememberMe"
                  name="rememberMe"
                > Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <button type="submit" [disabled]="!form.valid" class="btn btn-primary btn-block btn-flat">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <app-social></app-social>

      <a routerLink="/forget-password">I forgot my password</a><br>
      <a routerLink="/registration" class="text-center">Register a new membership</a>

    </div>
    <!-- /.login-box-body -->
  </div>
