.jaspero__dialog-actions[_ngcontent-c7] button.primary[_ngcontent-c7] {
  color: #FFF !important;
  background: #dd4b39 !important;
  border: solid 1px #dd4b39 !important;
}
.jaspero__dialog-actions[_ngcontent-c7] button.primary[_ngcontent-c7]:hover {
  color: #FFF !important;
  background: #983a28 !important;
  border: solid 1px #983a28 !important;
}
.jaspero__dialog-actions[_ngcontent-c7] button.default[_ngcontent-c7] {
  border: solid 1px hsla(0,0%,60%,.2) !important;
}
