<div class="wrapper">
  <app-header></app-header>

  <app-navigation></app-navigation>

  <div class="content-wrapper">
    <router-outlet></router-outlet>

    <jaspero-confirmations></jaspero-confirmations>
  </div>

  <app-footer></app-footer>
</div>
