
<div class="login-box">
  <div class="login-logo">
    <a routerLink="/"><b>Forget</b> Password</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Type your Email to reset password</p>

    <form [formGroup]="resetForm" (ngSubmit)="onResetPassword()">
      <div class="form-group has-feedback" [ngClass]="{'has-error': (resetForm.get('email').invalid && resetForm.get('email').touched) || resetForm.get('email').hasError('emailExists') || resetForm.get('email').hasError('emailExistsError') }">
        <input
          type="email"
          class="form-control"
          placeholder="Email"
          formControlName="email">
        <span *ngIf="resetForm.get('email').hasError('required') && resetForm.get('email').touched" class="help-block">Please enter a correct Email</span>
        <span *ngIf="resetForm.get('email').hasError('emailExists')" class="help-block">No such Email registered</span>
        <span *ngIf="resetForm.get('email').hasError('emailExistsError')" class="help-block">Error checking Email address.</span>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8"></div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Reset</button> <!--[disabled]="resetForm.invalid"-->
        </div>
        <!-- /.col -->
      </div>
    </form>

   <app-social></app-social>

    <a routerLink="/registration" class="text-center">Register a new membership</a>

  </div>
  <!-- /.login-box-body -->
</div>
