<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Actions
    <small>it all starts here</small>
  </h1>
  <ol class="breadcrumb">
    <li><a routerLink=""><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Actions</li>
  </ol>
</section>


<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">List of Actions</h3>
      <div class="box-tools pull-right">
        <button routerLink="add" class="btn btn-sm btn-primary">
          <i class="fa fa-plus"></i> &nbsp;&nbsp; Add
        </button>
      </div>
    </div>
    <div class="box-body">
      <div class="box">
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <table class="table table-striped">
            <tbody>
            <tr>
              <th style="width: 10px">#</th>
              <th>Name</th>
              <th style="width: 240px">Actions</th>
            </tr>
            <tr *ngIf="allEvents.length === 0; else elseEvents">
              <td colspan="3" class="text-center">
                No data to display.
              </td>
            </tr>
            <ng-template #elseEvents>
              <tr *ngFor="let item of allEvents; let index=index;">
                <td>1.</td>
                <td>{{item.name}}</td>
                <td>
                  <button class="btn btn-sm btn-default margin-r-5" data-toggle="modal" data-target="#modal-default" (click)="onCopy(index)">
                    <i class="fa fa-copy"></i> &nbsp;&nbsp; Copy
                  </button>
                  <button class="btn btn-sm btn-primary margin-r-5" [routerLink]="['edit', item.id]">
                    <i class="fa fa-edit"></i> &nbsp;&nbsp; Edit
                  </button>
                  <button class="btn btn-sm btn-danger" (click)="onDelete(item.id)">
                    <i class="fa fa-trash"></i> &nbsp;&nbsp; Delete
                  </button>
                </td>
              </tr>
            </ng-template>
            </tbody></table>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      Footer
    </div>
    <!-- /.box-footer-->
  </div>
  <!-- /.box -->

  <div *ngIf="copyCode" class="modal fade" id="modal-default">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Copy and Paste this code to your website.</h4>
        </div>
        <div class="modal-body">
          <code>{{copyCode}}</code>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

</section>
<!-- /.content -->
