<div class="register-box">
  <div class="register-logo">
    <a routerLink="/"><b>Registration</b></a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Register a new membership</p>

    <form [formGroup]="signUpForm" (ngSubmit)="onRegister()">
      <div class="form-group has-feedback" [ngClass]="{'has-error': signUpForm.get('name').invalid && signUpForm.get('name').touched}">
        <input
          type="text"
          class="form-control"
          placeholder="Full Name"
          formControlName="name"
        >
        <span *ngIf="signUpForm.get('name').invalid && signUpForm.get('name').touched" class="help-block">Please set a correct Full Name</span>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback" [ngClass]="{'has-error': signUpForm.get('phoneNumber').invalid && signUpForm.get('phoneNumber').touched}">
        <input
          type="text"
          class="form-control"
          placeholder="Phone"
          formControlName="phoneNumber"
        >
        <span *ngIf="signUpForm.get('phoneNumber').invalid && signUpForm.get('phoneNumber').touched" class="help-block">Please set a correct Phone</span>
        <span class="glyphicon glyphicon-phone form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback" [ngClass]="{'has-error': (signUpForm.get('email').invalid && signUpForm.get('email').touched) || signUpForm.get('email').hasError('emailExists') || signUpForm.get('email').hasError('emailExistsError') }">
        <input
          type="email"
          class="form-control"
          placeholder="Email"
          formControlName="email"
        >
        <span *ngIf="signUpForm.get('email').hasError('required') && signUpForm.get('email').touched" class="help-block">Email cannot be empty</span>
        <span *ngIf="signUpForm.get('email').hasError('emailExists')" class="help-block">This Email is used. Please use another.</span>
        <span *ngIf="signUpForm.get('email').hasError('emailExistsError')" class="help-block">Error checking Email address.</span>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback" [ngClass]="{'has-error': signUpForm.get('password').invalid && signUpForm.get('password').touched}">
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          formControlName="password"
        >
        <span *ngIf="signUpForm.get('password').invalid && signUpForm.get('password').touched" class="help-block">Please set a correct Password</span>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback" [ngClass]="{'has-error': signUpForm.get('rePassword').invalid && signUpForm.get('rePassword').touched}">
        <input
          type="password"
          class="form-control"
          placeholder="Retype password"
          formControlName="rePassword"
        >
        <span *ngIf="signUpForm.get('rePassword').invalid && signUpForm.get('rePassword').touched" class="help-block">Passwords do not match</span>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input
                appICheck
                type="checkbox"
                formControlName="accept"
                (changeValue)="onCheckChange($event)"
              > I agree to the <a href="#">terms</a>
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="signUpForm.invalid || signUpForm.get('accept').value === false">Register</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <app-social></app-social>

    <a routerLink="/" class="text-center">I already have a membership</a>
  </div>
  <!-- /.form-box -->
</div>
