.select2-container .select2-selection--single {
  height:36px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left:0;
}
.select2-container--default .select2-selection--single {
  border:solid 1px #d2d6de;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  top:5px;
}
