<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Edit Action
    <small>it all starts here</small>
  </h1>
  <ol class="breadcrumb">
    <li><a routerLink=""><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Edit</li>
  </ol>
</section>

<!-- Main content -->
<section *ngIf="formData" class="content">

  <!-- Default box -->
  <form class="form-horizontal" (submit)="update(f)" #f="ngForm">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Content</h3>
      </div>
      <div class="box-body">
        <div class="box-body">
          <div class="form-group">
            <label for="headline" class="col-sm-2 control-label">Headline</label>

            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="headline"
                placeholder="Headline"
                [ngModel]="formData.title"
                name="title"
                required
              >
            </div>
          </div>
          <div class="form-group">
            <label for="link" class="col-sm-2 control-label">Link</label>

            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="link"
                placeholder="Link"
                [ngModel]="formData.url_to"
                name="url_to"
                required
              >
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>

            <div class="col-sm-10">
                <textarea
                  class="form-control"
                  rows="3"
                  id="description"
                  [ngModel]="formData.message"
                  name="message"
                  required
                  placeholder="Description ..."></textarea>
            </div>
          </div>

          <div class="form-group">
            <label for="file" class="col-sm-2 control-label">File input</label>
            <div class="col-sm-10">
              <img class="margin uploadedImage" *ngIf="uploadedFile" [src]="uploadedFile" />
              <input
                id="file"
                type="file"
                ngModel
                name="image"
                (change)="onFileSelected($event)" />
              <p class="help-block">Max size 20Mb.</p>
            </div>
          </div>
        </div>
        <!-- /.box-body -->

        <div *ngIf="formData.popups.length > 0" class="row">
          <div *ngFor="let item of formData.popups; let index=$index" class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
              <div class="box-tools pull-right">
                <button (click)="onDeletePopup(index)" type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
              <span class="info-box-icon bg-aqua">
                <img [src]="item.image" alt="" />
              </span>

              <div class="info-box-content">
                <span class="info-box-text">{{item.title}}</span>
                <span class="info-box-text">{{item.message}}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
        </div>
      </div>

      <div class="box-header with-border">
        <h3 class="box-title">Display</h3>
      </div>
      <div class="box-body">
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Action Name</label>

          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Name"
              [ngModel]="formData.name"
              name="name"
            >
          </div>
        </div>
        <div class="form-group">
          <label for="desktop_placement" class="col-sm-2 control-label">Desktop Placement</label>

          <div class="col-sm-10">
            <select
              appSelect2
              class="form-control select2"
              id="desktop_placement"
              [(ngModel)]="formData.desktop_placement"
              name="desktop_placement"
              required
            >
              <option value="1">Правый нижний угол экрана</option>
              <option value="2">Правый верхний угол экрана</option>
              <option value="3">Левый верхний угол экрана</option>
              <option value="4">Левый нижний угол экрана</option>
              <option value="5">Вверху в центре</option>
              <option value="6">Внизу в центре</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="mobile_placement" class="col-sm-2 control-label">Mobile Placement</label>

          <div class="col-sm-10">
            <select
              appSelect2
              class="form-control select2"
              id="mobile_placement"
              [(ngModel)]="formData.mobile_placement"
              name="mobile_placement"
              required
            >
              <option value="1">Вверху экрана</option>
              <option value="2">Внизу экрана</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="delay" class="col-sm-2 control-label">Delay</label>

          <div class="col-sm-10">
            <div class="input-group">
              <input
                type="number"
                class="form-control"
                id="delay"
                [ngModel]="formData.delay"
                name="delay"
                required
                placeholder="Delay">
              <span class="input-group-addon">сек</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="time" class="col-sm-2 control-label">Time</label>

          <div class="col-sm-10">
            <div class="input-group">
              <input
                type="number"
                class="form-control"
                id="time"
                [ngModel]="formData.time"
                name="time"
                required
                placeholder="Time">
              <span class="input-group-addon">сек</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="repeat" class="col-sm-2 control-label">Repeat</label>

          <div class="col-sm-10">
            <div class="input-group">
              <input
                appICheck
                type="checkbox"
                id="repeat"
                [(ngModel)]="formData.repeat"
                name="repeat"
              >
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="close" class="col-sm-2 control-label">Close</label>

          <div class="col-sm-10">
            <div class="input-group">
              <input
                appICheck
                type="checkbox"
                id="close"
                [(ngModel)]="formData.close"
                name="close"
              >
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="new_tab" class="col-sm-2 control-label">New Tab</label>

          <div class="col-sm-10">
            <div class="input-group">
              <input
                appICheck
                type="checkbox"
                id="new_tab"
                [(ngModel)]="formData.new_tab"
                name="new_tab"
              >
            </div>
          </div>
        </div>
      </div>

      <div class="box-header with-border">
        <h3 class="box-title">Design</h3>
      </div>
      <div class="box-body">
        <div class="form-group">
          <label for="layout" class="col-sm-2 control-label">Layout</label>

          <div *ngIf="templates" class="col-sm-10">
            <select
              appSelect2
              class="form-control select2"
              id="layout"
              [(ngModel)]="formData.template_id"
              name="template_id"
              required
            >
              <option *ngFor="let item of templates" value="{{item.id}}">{{item.name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="round" class="col-sm-2 control-label">Round</label>

          <div class="col-sm-10">
            <div class="input-group">
              <input
                appICheck
                type="checkbox"
                id="round"
                [(ngModel)]="formData.round"
                name="round"
              >
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="title_color" class="col-sm-2 control-label">Title Color</label>

          <div class="col-sm-10">
            <div class="input-group my-colorpicker2 colorpicker-element">
              <input
                [appColorPicker]="formData.title_color"
                type="text"
                id="title_color"
                [(ngModel)]="formData.title_color"
                name="title_color"
                required
                class="form-control">

              <div class="input-group-addon">
                <i [ngStyle]="{backgroundColor: formData.title_color}"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="background_color" class="col-sm-2 control-label">Background Color</label>

          <div class="col-sm-10">
            <div class="input-group my-colorpicker2 colorpicker-element">
              <input
                [appColorPicker]="formData.background_color"
                type="text"
                id="background_color"
                [(ngModel)]="formData.background_color"
                name="background_color"
                required
                class="form-control">

              <div class="input-group-addon">
                <i [ngStyle]="{backgroundColor: formData.background_color}"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="message_color" class="col-sm-2 control-label">Message Color</label>

          <div class="col-sm-10">
            <div class="input-group my-colorpicker2 colorpicker-element">
              <input
                [appColorPicker]="formData.message_color"
                type="text"
                id="message_color"
                [(ngModel)]="formData.message_color"
                name="message_color"
                required
                class="form-control">

              <div class="input-group-addon">
                <i [ngStyle]="{backgroundColor: formData.message_color}"></i>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /.box-body -->

      <div class="box-footer">
        <button type="submit" class="btn btn-primary pull-right" [disabled]="!f.valid">Update</button> <!--[disabled]="!f.valid"-->
      </div>
      <!-- /.box-footer-->
    </div>
  </form>
  <!-- /.box -->

</section>
<!-- /.content -->
