<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Profile
    <small>it all starts here</small>
  </h1>
  <ol class="breadcrumb">
    <li><a routerLink=""><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Profile</li>
  </ol>
</section>

<!-- Main content -->
<section *ngIf="aboutUser" class="content">

  <!-- Default box -->
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Edit User Settings</h3>
    </div>

    <form class="form-horizontal" [formGroup]="userForm" (ngSubmit)="updateUser()">
      <div class="box-body">
        <div class="form-group" [ngClass]="{'has-error': userForm.get('name').invalid && userForm.get('name').touched}">
          <label for="name" class="col-sm-2 control-label">Full Name</label>

          <div class="col-sm-10">
            <input
              id="name"
              type="text"
              class="form-control"
              placeholder="Full Name"
              formControlName="name"
            >
            <span *ngIf="userForm.get('name').invalid && userForm.get('name').touched" class="help-block">Please set a correct Full Name</span>
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': userForm.get('email').invalid && userForm.get('email').touched}">
          <label for="email" class="col-sm-2 control-label">Email address</label>

          <div class="col-sm-10">
            <input
              id="email"
              type="email"
              class="form-control"
              placeholder="Enter email"
              formControlName="email"
            >
            <span *ngIf="userForm.get('email').invalid && userForm.get('email').touched" class="help-block">Please set a correct Email</span>
          </div>
        </div>

        <div class="form-group" [ngClass]="{'has-error': userForm.get('phoneNumber').invalid && userForm.get('phoneNumber').touched}">
          <label for="phoneNumber" class="col-sm-2 control-label">Phone</label>

          <div class="col-sm-10">
            <input
              id="phoneNumber"
              type="text"
              class="form-control"
              placeholder="Phone"
              formControlName="phoneNumber"
            >
            <span *ngIf="userForm.get('phoneNumber').invalid && userForm.get('phoneNumber').touched" class="help-block">Please set a correct Phone</span>
          </div>
        </div>

        <div class="form-group" [ngClass]="{'has-error': userForm.get('password').invalid && userForm.get('password').touched}">
          <label for="password" class="col-sm-2 control-label">New Password</label>

          <div class="col-sm-10">
            <input
              id="password"
              type="password"
              class="form-control"
              placeholder="Password"
              formControlName="password"
            >
            <span *ngIf="userForm.get('password').invalid && userForm.get('password').touched" class="help-block">Please set a correct new Password</span>
          </div>
        </div>

        <div class="form-group" [ngClass]="{'has-error': userForm.get('password_confirmation').invalid && userForm.get('password_confirmation').touched}">
          <label for="password_confirmation" class="col-sm-2 control-label">Confirm New Password</label>

          <div class="col-sm-10">
            <input
              id="password_confirmation"
              type="password"
              [required]="userForm.get('password').value != ''"
              class="form-control"
              placeholder="Confirm Password"
              formControlName="password_confirmation"
            >
            <span *ngIf="userForm.get('password_confirmation').invalid && userForm.get('password_confirmation').touched" class="help-block">Passwords do not match</span>
          </div>
        </div>

        <div class="form-group" [ngClass]="{'has-error': userForm.get('old_password').invalid && userForm.get('old_password').touched}">
          <label for="old_password" class="col-sm-2 control-label">Old Password</label>

          <div class="col-sm-10">
            <input
              id="old_password"
              type="password"
              [required]="userForm.get('password').value != '' && userForm.get('password_confirmation').value != ''"
              class="form-control"
              placeholder="Old Password"
              formControlName="old_password"
            >
            <span *ngIf="userForm.get('old_password').invalid && userForm.get('old_password').touched" class="help-block">Please set a correct old Password</span>
          </div>
        </div>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <button type="submit" class="btn btn-primary pull-right" [disabled]="!userForm.valid">Submit</button> <!--[disabled]="!userForm.valid"-->
      </div>
      <!-- /.box-footer -->
    </form>

    <!-- /.box-body -->
    <div class="box-footer"></div>
    <!-- /.box-footer-->
  </div>
  <!-- /.box -->

</section>
<!-- /.content -->
