<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div *ngIf="aboutUser" class="user-panel">
      <div class="pull-left image">
        <img src="../../assets/img/user2-160x160.png" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{aboutUser.name}}</p>
        <a href="javascrip:"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li class="active" appMenu>
        <a routerLink="adverts">
          <i class="fa fa-th"></i> <span>Actions</span>
        </a>
      </li>
      <li appMenu>
        <a routerLink="statistics">
          <i class="fa fa-pie-chart"></i>
          <span>Statistics</span>
        </a>
      </li>
      <li appMenu>
        <a routerLink="billing">
          <i class="fa fa-calendar"></i> <span>Billing</span>
        </a>
      </li>
      <li appMenu>
        <a routerLink="mail">
          <i class="fa fa-envelope"></i> <span>Mailbox</span>
          <span class="pull-right-container">
              <small class="label pull-right bg-yellow">12</small>
              <small class="label pull-right bg-green">16</small>
              <small class="label pull-right bg-red">5</small>
            </span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
