<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Statistics
    <small>it all starts here</small>
  </h1>
  <ol class="breadcrumb">
    <li><a routerLink=""><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Statistics</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <!-- Default box -->
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Title</h3>

      <div *ngIf="allEvents" class="pull-right">
        <div class="dateSelectHolder pull-right">
          <div class="input-group date">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <input
              appDaterange
              type="text"
              class="form-control pull-right"
              [(ngModel)]="eventDate"
              id="datepicker"
            >
          </div>
        </div>
        <div class="actionSelectHolder pull-right">
          <select
            appSelect2
            class="form-control select2"
            [(ngModel)]="actionId"
            name="actionId"
            required
          >
            <option *ngFor="let item of allEvents" value="{{item.id}}">{{item.title}}</option>
          </select>
        </div>
      </div>


    </div>
    <div class="box-body">

      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa  fa-line-chart"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Показы</span>
              <span class="info-box-number">1,410</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-mouse-pointer"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Клики</span>
              <span class="info-box-number">410</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-close (alias)"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Закритий</span>
              <span class="info-box-number">13,648</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
      </div>

      <h4>4 June -10 July</h4>

      <div class="chart">
        <canvas appChart id="lineChart" style="height:250px"></canvas>
      </div>

      <!--<div class="chart-responsive">-->
        <!--<div class="chart" appChart id="line-chart" style="height: 300px;"></div>-->
      <!--</div>-->
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      Footer
    </div>
    <!-- /.box-footer-->
  </div>
  <!-- /.box -->

</section>
<!-- /.content -->
